@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SupportCenter</h1>
    <p class="lead">Welkom op het online helpdesk systeem.</p>
    
</div>
@if (WebMatrix.WebData.WebSecurity.IsAuthenticated)
{   
<div class="row"> 
    <div class="col-md-4">
        <h2>Nieuw Ticket</h2>
        <p>Maak een nieuw ticket aan in het systeem.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Ticket")">Nieuw ticket &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alle tickets</h2>
        <p>Toon een lijst van alle bestaande tickets.</p>
        @Html.ActionLink("Alle tickets", "Index", "Ticket", null, new { @class = "btn btn-default"})
    </div>
    <div class="col-md-4">
        <h2>Toon ticket</h2>
        <p>Geeft de details van een ticket.</p>
        @using (Html.BeginForm("Details", "Ticket", FormMethod.Get, new { @class = "form-inline" })) {  
            <div class="form-group">
                @Html.Label("id", "Ticketnummer", new { @class = "sr-only" })
                @Html.TextBox("id", null, new { @class = "form-control" })
            </div>
            <input type="submit" value="Toon ticket" class="btn btn-default" />
        }
    </div>
    <div class="col-md-4">
        <h2>Lobby</h2>
        <p>Zoek hulp in de support chat lobby.</p>
        @Html.ActionLink("Chat Lobby", "Chat", "Chat", null, new { @class = "btn btn-default" })
    </div>
</div>
}